<div class="site-header">
  <div class="wrapper">
    <div class="header-links">
      <div class="site-title">Girls Do Hack 2014</div>
      <div class="site-menu">
        <div class="site-menu-item"><a href="#/the-event">The Event</a></div>
        <div class="site-menu-item"><a href="#/sponsors">Sponsors</a></div>
        <div class="site-menu-item"><a href="#/particpiate">Participate</a></div>
        <div class="site-menu-item"><a href="#/contact">Contact</a></div>
        <div class="site-menu-item focus"><a href="#/some-register-link">Register Today!</a></div>
      </div>
    </div>
  </div>
</div>

<div class="site-picture"></div>

<div class="wrapper">{% include participate.html %}</div>
