<div class="site-header">
  <div class="wrapper">
    <div class="header-links">
      <div class="site-title"><a href="./index.html">Girls Do Hack 2015</a></div>
      <div class="site-menu">
        <div class="site-menu-item"><a href="./index.html#the-event">The Event</a></div>
        <div class="site-menu-item"><a href="#sponsors">Sponsors</a></div>
        <div class="site-menu-item"><a href="./index.html#participation-options">Participate</a></div>
        <!-- <div class="site-menu-item"><a href="./index.html#contact">Contact</a></div> -->
        <div class="site-menu-item focus"><a href="./index.html#participation-options">Register now!</a></div>
      </div> <!-- <10/1/2015 need to change text to Register! -->
    </div>
  </div>
</div>

<div class="site-picture"></div>

<div class="wrapper">{% include participation-options.html %}</div>
