<div class="options">
  <div class="option">
    <div class="title">Become<br>a Mentor</div>
    <div class="action">Share your STEM experiences.</div>
  </div>
  <div class="option">
    <div class="title">Participate<br>as a Student</div>
    <div class="action">Learn from STEM professionals.</div>
  </div>
  <div class="option">
    <div class="title">Bring a group<br>of Students</div>
    <div class="action">Inspire your students with STEM.</div>
  </div>
  <div class="option">
    <div class="title">Become<br>a Sponsor</div>
    <div class="action">Help make the event possible.</div>
  </div>
</div>