<a name="participation-options"></a>
<div class="options">
  <a href="./participate.html#mentors" class="option">
      <div class="title">Become<br>a Mentor</div>
      <div class="action">Share your STEM experiences.</div>
  </a>
  <a href="./participate.html#youth-participants" class="option">
    <div class="title">Participate<br>as a Student</div>
    <div class="action">Learn from STEM professionals.</div>
  </a>
  <a href="./participate.html#youth-groups" class="option">
    <div class="title">Bring a group<br>of Students</div>
    <div class="action">Inspire your students with STEM.</div>
  </a>
  <a href="./index.html#sponsors" class="option">
    <div class="title">Become<br>a Sponsor</div>
    <div class="action">Help make the event possible.</div>
  </a>
</div>