<div class="sidebar-section">
  <h2>Event Date:</h2>
  <div class="event-date">November 14</div>
</div>

<div class="sidebar-section">
  <h2>Schedule:</h2>
  <h4>Group 1</h4>
  <table>
    <tbody>
      <tr>
        <td><b>8:30 am</b></td>
        <td>Registration</td>
      </tr>
      <tr>
        <td><b>9:00 am</b></td>
        <td>Kick-Off</td>
      </tr>
      <tr>
        <td><b>10:15 am</b></td>
        <td>Workshop 1</td>
      </tr>
      <tr>
        <td><b>11:45 am</b></td>
        <td>Workshop 2</td>
      </tr>
      <tr>
        <td><b>12:20 pm</b></td>
        <td>Lunch</td>
      </tr>
      <tr>
        <td><b>1:00 pm</b></td>
        <td>Workshop 3</td>
      </tr>
      <tr>
        <td><b>2:15 pm</b></td>
        <td>Wrap-Up</td>
      </tr>
      <tr>
        <td><b>2:45 pm</b></td>
        <td>Depart</td>
      </tr>
    </tbody>
  </table>

  <h4>Group 2</h4>
  <table>
    <tbody>
      <tr>
        <td><b>10:00 am</b></td>
        <td>Registration</td>
      </tr>
      <tr>
        <td><b>10:30 am</b></td>
        <td>Kick-Off</td>
      </tr>
      <tr>
        <td><b>11:45 am</b></td>
        <td>Workshop 1</td>
      </tr>
      <tr>
        <td><b>1:00 pm</b></td>
        <td>Lunch</td>
      </tr>
      <tr>
        <td><b>1:45 pm</b></td>
        <td>Workshop 2</td>
      </tr>
      <tr>
        <td><b>2:40 pm</b></td>
        <td>Workshop 3</td>
      </tr>
      <tr>
        <td><b>4:00 pm</b></td>
        <td>Wrap-Up</td>
      </tr>
      <tr>
        <td><b>4:30 pm</b></td>
        <td>Depart</td>
      </tr>
    </tbody>
  </table>

  <div class="footnote">
    The day's schedule is subject to minor changes. Lunch and snacks will be provided.
  </div>
</div>

<div class="sidebar-section">
  <a href="http://instagram.com/adlersplanet"><i class="fa fa-instagram"></i></a>
  <a href="https://twitter.com/adlerplanet"><i class="fa fa-twitter"></i></a>
  <a href="https://www.facebook.com/adlerplanetarium"><i class="fa fa-facebook"></i></a>

  <h4>Questions?</h4>
  <p><b>hackdays@adlerplanetarium.org</b></p>
</div>
